
<div class="card d-md-flex  justify-content-md-end alling-item-center p-5 m-10" style="width: 100%;">

    <h1>  Contact </h1>
    <p class="text-lowercase fs-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt, illum minus! Quos, nostrum error? Quia, excepturi ratione! Quo, rerum! Magnam omnis unde numquam eius nisi maiores distinctio molestias rem minima!</p>
 <div class="container bg-light p-3 border border-secondary-light rounded-1" style="width: 50rem;">
  <!-- Content here --> 
<form>
 <div class="mb-3 row ">
  <label for="staticEmail" class="col-sm-2 col-form-label"><h6>Your E-mail</h6></label>
  <div class="col-sm-10">
     <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your email">
  </div>
</div>
<div class="mb-3 row">
      <label for="exampleFormControlTextarea1" class=" col-sm-2 col-form-label"><h6>Your message</h6></label>
  <div class="col-sm-10">

  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Please enter your message here..."></textarea>
  </div>
</div>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">

  <button class="btn btn-primary" type="button">Submit</button>
</div>

</form>
</div>