<!-- your html code here -->
<section class="py-5 bg-white">
    <div class="container px-4 px-lg-5">
        <h2 class="mb-2">Portfolio</h2>
        <p class="mb-3">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
            semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>

        <div class="row gx-5">
            <div class="col-lg-4 col-md-6 mb-5">
                <div class="card h-100 border-0">
                    <img src="https://placehold.co/700x400" class="card-img-top" alt="Project 1">
                    <div class="card-body ps-0">
                        <h4 class="card-title text-primary fw-bold">Project Name</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra
                            euismod odio, gravida pellentesque urna varius vitae.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-5">
                <div class="card h-100 border-0">
                    <img src="https://placehold.co/700x400" class="card-img-top" alt="Project 2">
                    <div class="card-body ps-0">
                        <h4 class="card-title text-primary fw-bold">Project Name</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra
                            euismod odio, gravida pellentesque urna varius vitae.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-5">
                <div class="card h-100 border-0">
                    <img src="https://placehold.co/700x400" class="card-img-top" alt="Project 3">
                    <div class="card-body ps-0">
                        <h4 class="card-title text-primary fw-bold">Project Name</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra
                            euismod odio, gravida pellentesque urna varius vitae.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>